version: '3'
services:
  jenkins:
    image: jenkins/jenkins:lts
    ports:
    - "8080:8080"
    - "50000:50000"
    volumes:
      - ./debug/data:/var/jenkins_home
      - ./debug/project:/var/project
